@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212121;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.6em 2.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.75s;
  margin: 0;
}

input {
  border-radius: 3px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
